@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
    -webkit-appearance: none;    
}

